# **Exploratory Data Analysis (EDA)**
*   Load a dataset
*   statistical summaries
*   data visualization

# Python Libraries for EDA

* numpy
* pandas
* matplotlib

# Pandas
pandas is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series.

# Dataframe
A dataframe represents a rectangular table of data and contains an ordered collection of columns, each of which can be a different value type. A dataframe has both a row and column index and can be thought of as a dict of Series, all sharing the same index. A column in a dataframe can be retrieved as a Series. The columns of the resulting DataFrame have different dtypes.

In [1]:
import pandas as pd

List to series

In [2]:
list1 = [1, 4, 15, 16, 9]

series = pd.Series(list1)

print(series)

0     1
1     4
2    15
3    16
4     9
dtype: int64

In [3]:
import numpy as np
d_series = pd.Series(np.random.randn(10))
print(d_series)

0    0.573920
1    0.258770
2   -0.008602
3   -0.002046
4    0.099320
5   -0.197626
6    0.520622
7    1.661605
8    0.041105
9   -1.524258
dtype: float64

In [4]:
d_series.head #?

<bound method NDFrame.head of 0    0.573920
1    0.258770
2   -0.008602
3   -0.002046
4    0.099320
5   -0.197626
6    0.520622
7    1.661605
8    0.041105
9   -1.524258
dtype: float64>

In [5]:
M1=pd.DataFrame(np.random.randint(0,100,size=(3, 4)))
M1.head() #.head() by default displays first 5 rows

    0   1   2   3
0  67  37  42  15
1  10  51   3  75
2  60   9  82  40

In [6]:
M2=pd.DataFrame(np.random.randint(0,100,size=(3, 4)), columns=list('ABCD'))
M2.head()

    A   B   C   D
0  62  54  66  39
1  65  95  78  60
2  93  74  52  70

In [7]:
#list to dataframe
lists = [[2, 'Vishal', 22],
         [1, 'Kushal', 25],
         [1, 'Aman', 24]]

dataframe = pd.DataFrame(lists, columns = ['id', 'name', 'age'])

print(dataframe)

   id    name  age
0   2  Vishal   22
1   1  Kushal   25
2   1    Aman   24

# Load a dataset

In [8]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [10]:
cd /content/gdrive/My Drive/CSE4020_ML

/content/gdrive/My Drive/CSE4020_ML

In [12]:
ls #list files

Iris.csv

In [13]:
data=pd.read_csv('Iris.csv')
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [14]:
X = data.iloc[:, 0:4] #Dataframe.iloc() returns a view of the selected rows and columns 
#from the dataframe; used when index label is not numeric series 0,1,..n
#data.iloc[4:8] - rows 4 to 7
#data.iloc[:, 0:4] - all rows, columns 0 to 3
print(X)
y = data.select_dtypes(include=[object]) #object is a catch-all type for columns
print(y)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm
0      1            5.1           3.5            1.4
1      2            4.9           3.0            1.4
2      3            4.7           3.2            1.3
3      4            4.6           3.1            1.5
4      5            5.0           3.6            1.4
..   ...            ...           ...            ...
145  146            6.7           3.0            5.2
146  147            6.3           2.5            5.0
147  148            6.5           3.0            5.2
148  149            6.2           3.4            5.4
149  150            5.9           3.0            5.1

[150 rows x 4 columns]
            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 1 columns]

# Exercises

1. Print all the features of the dataset.
2. Print shape of the dataset (rows and columns)
3. Print the shape of the dataset
4. Count number of distinct elements in species (i.e. the 3 different classes )
  also count the number of samples in each of three classes
5. Checking if there is any inconsistency in the DataSet. (use df.info())
6. Extract all the rows pertaining to 'setosa' into a dataframe named as df_setosa. Similarly extract for  'versicolor', and 'virginica classes.

In [17]:
data.columns #features = columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [18]:
data.shape #shape gives no. of rows & columns

(150, 6)

In [20]:
print(data.shape[0], "rows,", data.shape[1], "columns")

150 rows, 6 columns

In [26]:
print(data['Species'].nunique(),":", data['Species'].unique())

3 : ['Iris-setosa' 'Iris-versicolor' 'Iris-virginica']

In [28]:
print(data['Species'].value_counts())

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [31]:
df_sentosa = data[data['Species']=='Iris-setosa']
df_versicolor = data[data['Species']=='Iris-versicolor']
df_virginica = data[data['Species']=='Iris-virginica']
df_sentosa.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa